############################################
#
# Update this file with your customizations
#
############################################

domain = "acme.com"

billing_id = "A1A1A1-ABC456-DEF123"

folder_id = "123456789"

env_code = "t"

project_prefix = "prj"

services = [
  "logging.googleapis.com",
  "monitoring.googleapis.com",
  "discoveryengine.googleapis.com",
  "bigquery.googleapis.com",
  "bigquerystorage.googleapis.com",
  "storage.googleapis.com"
]